.tooltip {
  font-family: $font-family;
  font-weight: 400;
}

.tooltip-head {
  font-size: 16px;
  color: #fff;
  background: #000;
  padding: 10px 10px 5px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  margin-bottom: -2px; /* Hide default tooltip rounded corner from top */
}

.tooltip-head i {
  font-size: 20px;
  margin-right: 5px;
}

.tooltip-inner {
  font-size: 12px;
  padding-bottom: 10px;
}
